body {
  font-family: "Times New Roman", Times, serif;
}

main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header > div {
  height: 20px;
  padding-top: 10px;
  font-size: 0.6em;
  color: #004d4c;
  background-color: #fdfbf1;
  border-top: 1px solid #ffd877;
}

header > img {
  padding: 20px;
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
}

h3 {
  padding: 20px;
  padding-left: 0%;
  font-family: "Minion Pro", sans-serif;
  border-bottom: 1px solid #c4f3f2;
}

main img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #979797;
}

main section {
  font-size: 0.85em;
}

figcaption {
  color: #999999;
  padding: 10px;
}

section article div {
  padding-left: 20px;
  color: #107777;
  border-left: 1px solid #ffd877;
  text-decoration: underline;
}

#feature {
  color: #b5460f;
  text-decoration: none;
}

.centered_text {
  text-align: center;
}

.cambria {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px;
  font-size: 0.9em;
}

a {
  color: #107777;
}
